<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap  id="memberResultMap" type="MemberDto">
		<result column="user_no" property="userNo" />	
		<result column="user_id" property="userId" />	
		<result column="user_pwd" property="userPwd" />	
		<result column="user_name" property="userName" />	
		<result column="email" property="email" />	
		<result column="gender" property="gender" />	
		<result column="phone" property="phone" />	
		<result column="address" property="aeeress" />	
		<result column="profile_url" property="profileURL" />	
		<result column="signup_date" property="signupDt" />	
		<result column="modify_date" property="modifyDt" />	
		<result column="status" property="status" />	
	</resultMap>
	
	<!-- 로그인 -->
	<select id="selectMember" resultXXX="">
		select
					 user_no
				 , user_id
				 , user_pwd
				 , user_name
				 , email
				 , gender
				 , phone
				 , address
				 , profile_url
				 , signup_date
				 , modify_date
				 , status
		  from member
		 where status in ('Y', 'A')
		   and user_id = #{userId}
		   and user_pwd = #{userPwd}
	
	</select>

	<!-- 회원가입 -->

	<!-- 아이디중복체크 (아이디 수 조회) -->
	
	<!-- 회원정보수정 -->
	
	<!-- 회원탈퇴 -->
	
	
</mapper>
