<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">

<resultMap id="noticeResultMap" type="NoticeDto">
		<result column="notice_no" property="noticeNo" />
		<result column="notice_title" property="noticeTitle" />
		<result column="notice_content" property="noticeContent" />
		<result column="user_id" property="noticeWriter" />
		<result column="regist_date" property="registDt" />
</resultMap>

<!-- 
<select id="selectNoticeListCount"	resultType="_int">
		select
					 count(*)
			from notice
		 where status = 'Y'
	</select>

	
	<select id="selectNoticeList" resultMap="noticeResultMap">
  select
         notice_no
       , board_title
       , user_id
       , to_char(regist_date, 'YYYY-MM-DD ') as "regist_date"
       ,  (
       		select count(*)
            from attachment
           where ref_type = 'B'
             and ref_no = b.board_no
    			) as "attach_count"		
    from board b
    join member on (user_no = board_writer)
   where b.status = 'Y'  
   order by board_no desc
	</select>
 -->

	<insert id="insertNotice">
		insert
		  into notice
		  (
		  	notice_no
		  , notice_title
		  , notice_writer
		  , notice_content
		  )
		  values
		  (
		  	seq_bno.nextval
		  , #{noticeTitle}
		  , #{noticeWriter}
		  , #{noticeContent}
		  )
	</insert>
	
	<insert id="insertAttach">
		insert
		  into attachment
		  (
		  	file_no
		  , file_path
		  , filesystem_name
		  , original_name
		  , ref_type
		  , ref_no
		  )
		  values
		  (
		  	seq_ano.nextval
		  , #{filePath}
		  , #{filesystemName}
		  , #{originalName}
		  , #{refType}
		  <choose>
				<when test="refNo == 0">
		  		, seq_bno.currval
				</when>
				<otherwise>
		  		, #{refNo}
				</otherwise>		  
		  </choose>
		  )
	</insert>
	
	<select id="selectnotice" resultMap="NoticeResultMap">
	select 
         notice_no
       , notice_title
       , notice_content
       , user_id
       , to_char(regist_date, 'YYYY-MM-DD')  regist_date
       , file_no
       , file_path
       , filesystem_name
       , original_name
    from notice n
    join member on (user_no = notice_writer)
    left join attachment on (ref_type = 'N' and ref_no = notice_no)
   where n.status = 'Y'
     and notice_no = #{noticeNo}
	</select>







</mapper>

